<div class="theme-inverse mt-space-9 flex flex-col pb-space-8 bg text">
        <section class="mt-space-9 ">
                <div class="container">
                        <div class="container ">
                                <div class="xl:w-10-cols max-w-full text-primary f-heading-7">
                                        <p>
                                                <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                                {{ $noticia->titulo }}
                                                        </font>
                                                </font>
                                        </p>
                                </div>
                        </div>

                        <div class="grid lg:grid-cols-2 gap-x-gutter gap-y-space-7 mt-space-7">
                                <div class="pr-space-6">
                                        <div class="rich-text ">
                                                <p>
                                                        <font style="text-align: justify;">

                                                                {{ $noticia->texto }}
                                                        </font>
                                                </p>
                                        </div>
                                </div>

                                <div>
                                        <div
                                                class="relative flex flex-col h-full group p-16 pb-24 lg:p-24 rounded-lg bg-layer text-primary transition group/card">
                                                <div class="relative mb-space-4">
                                                        <div
                                                                class="flex justify-center items-center h-full aspect-16/9">
                                                                <img src="{{ url('/assets/media/medico.jpg') }}" alt=""
                                                                        class="w-full h-full object-cover rounded-md">
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
</div>